<div class="item-detail" *ngIf="item">
  <div class="image-gallery">
    <button class="prev-button" (click)="previousImage()">←</button>
    <img [src]="item.detailedImages[currentImageIndex]" alt="{{item.title}}">
    <button class="next-button" (click)="nextImage()">→</button>
  </div>
  <h2>{{item.title}}</h2>
  <p>{{item.description}}</p>
  <div class="current-rating">
    <p>Ocena: {{item.rating.toFixed(1)}}</p>
    <ngb-rating [max]="5" [rate]="item.rating" [readonly]="true"></ngb-rating>
  </div>
  <div class="add-comment">
    <h3>Dodaj swoją ocenę</h3>
    <ngb-rating [max]="5" [(rate)]="newRating" [readonly]="false" (rateChange)="updateRating($event)"></ngb-rating>
    <textarea [(ngModel)]="newComment" placeholder="Dodaj komentarz"></textarea>
    <button (click)="addComment()">Oceń</button>
  </div>
  <div class="comments">
    <h3>Komentarze</h3>
    <div *ngFor="let comment of displayedComments">
      <ngb-rating [max]="5" [rate]="comment.rating" [readonly]="true"></ngb-rating>
      <p>{{comment.text}}</p>
    </div>
    <button *ngIf="item.comments.length > displayedComments.length" (click)="showMoreComments()">Pokaż więcej</button>
  </div>
</div>
